.input-number-root {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 8px;

  input {
    font-size: 16px;
    text-align: center;
    width: 48px;
    height: 48px;
    margin: auto 8px;
    border: 1px solid #c0c0c0;
    border-radius: 6px;
  }
}
