.input-number-root {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 8px;
  color: #595959;

  input {
    font-size: 16px;
    text-align: center;
    width: 48px;
    height: 48px;
    margin: auto 8px;
    border: 1px solid #bfbfbf;
    border-radius: 6px;

    &[data-disabled='true'] {
      color: #bfbfbf;
    }

    &:focus {
      border: 1px solid #bfbfbf;
      outline: none;
    }
  }
}
